.DS_Store
**/.DS_Store
/target
Cargo.lock
**/Cargo.lock
.idea
**/.idea
.vscode
**/.vscode
cmake-build-*
build
*/build
*/*.xcframework
**/*.xcframework
*.xcframework
*.a
.build
*/.build
/*.xcframework
.xcframework
.debug
/.debug
*/.debug
**/.debug
xcode/
